body
{
	background-color:			#000900;
}

.background
{
	height: 85vh;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.3);
	border-radius: 10vh;
	background-image:			url("../src/background.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	background-attachment: local;
	background-size: cover;
	text-align: center;
}
.backgroundImg {
	margin-left: auto;
	margin-right: auto;
	height: 35vh;
	border: 1vh solid #e8b46a;
	padding: 2vh;
	border-radius: 100%;
  	background-size: 0.5vh 0.5vh;
  	background-color: #ffffff;
    background-image: radial-gradient(#efd3aa, #f4ac44), linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.3);
}

.cointainer
{
	text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.history
{
  display: flex;
  flex-direction: row;
  background-color: gray;
  opacity: 0.8;
  flex-wrap: wrap;
  height: 9vmin;
  overflow: hidden;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
  border-radius: 1vw;
}

.title {
	align-self: center;
	background-color: white;
	opacity: 0.8;
	border-radius: 1vw; 
	display: block;
	width: 45vmax;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vmin;
	margin-bottom: 1vmin;
	text-align: center;
	font-family: arkhamtext;
	font-size: 3vmax;
	font-weight: bolder;
	color: green;
	text-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.3);
}
.diff {
	position: relative;
	background-color: white; 
	opacity: 0.8; 
	border-radius: 1vh; 
	width: 40vw; 
	display: inline-block;
	font-family: arkhamtext;
	font-size: 2vmax;
	vertical-align: bottom;
}

.stub {
	height: 5vh;
}

select {
	font-family: arkhamtext;
	font-size: 2vmax;
	color: darkgreen;
	font-weight: bold;
	width: 50%;
	text-align: center;
	background-color: lightgray;
}

@-webkit-keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}@keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}

@font-face {
	font-family: "arkhamtext";
	src: url("../src/arkham-teutonic.ttf") format("truetype");
}

@font-face {
	font-family: "arkhamicon";
	src: url("../src/arkham-icons.ttf") format("truetype");
}

.text {
	font-family: arkhamtext;
	color: white;
	font-size: 23vh;
	white-space: pre;
}

.k {
	font-family: arkhamicon;
	color: #990000;
	font-size: 28vh;
}

.l {
	font-family: arkhamicon;
	color: #33cccc;
	font-size: 28vh;
}

.m {
	font-family: arkhamicon;
	color: #006600;
	font-size: 28vh;
}

.n {
	font-family: arkhamicon;
	color: #999966;
	font-size: 28vh;
}

.o {
	font-family: arkhamicon;
	color: #66ffff;
	font-size: 28vh;
}

.q {
	font-family: arkhamicon;
	color: #669999;
	font-size: 28vh;
}